
:root {
    --pet-green: #76a75d;
}


/* Estilo para el botón de Inicio (Activo) */
.active-pill {
    background-color: var(--pet-green) !important;
    color: white !important;
    border-radius: 25px;
    padding: 2px 50px !important;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Ajustes generales de los links */
.navbar-nav .nav-link {
    font-size: 0.95rem;
    transition: 0.2s;
}

.custom-nav .nav-link:hover:not(.active) {
    background-color: #f8f9fa;
    border-radius: 50px;
}

/* El círculo rojo de notificaciones */
.badge-custom {
    font-size: 0.7rem;
    padding: 4px 6px;
    vertical-align: middle;
}

/* Quitar bordes de Bootstrap que no necesitamos */
.navbar {
    border-bottom: 1px solid #eee;
}